<div style="text-align:center">
    <h1>
        Restaurants
    </h1>

</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<header>

    <main>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Enter Keyword for filter result"
                        [(ngModel)]="searchedKeyword">
                </div>
                <div class="form-group col-md-4">
                    <button class="btn btn-primary" (click)="toggleBtnFunc()">{{toggleBtn ? 'list': 'grid'}}</button>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!-- retrive the array from defined data.ts using ngfor -->
                    <div [ngClass]="toggleBtn ? 'col-4' : 'col-12'"
                        *ngFor="let item of restaurantsData | filter:searchedKeyword" (click)="onSelect(item)">
                        <div class="card shadow-sm">

                            <img src="../../assets/restaurants/{{item.photograph}}" class="dim">
                            <div class="card-body">
                                <h3>
                                    <a [title]="item.name" [routerLink]="['/restaurant', item.id]">
                                        {{ item.name }}
                                    </a>
                                </h3>
                                <!-- <span><strong>Name :{{item.name | uppercase}}</strong></span> -->
                                <br>
                                <span><strong>Neighborhood :{{item.neighborhood | titlecase }}</strong></span>
                                <br>
                                <span><strong>Address :</strong> </span>
                                <p class="card-text">{{item.address}}</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    Reviews
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExample" *ngFor="let review of item.reviews">
                                            <div class="card-body">
                                                {{review.comments}}
                                                <star-rating [value]="review.rating" [totalstars]=5 checkedcolor="red"
                                                    uncheckedcolor="black" size="24px" [readonly]="true"></star-rating>
                                                <small>Review date :{{review.date}}</small>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Restaurant review site &copy; Rate the restaurant</p>

        </div>

    </footer>