<div style="text-align:center">
    <h1>
        Restaurants
    </h1>

</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<header>

    <main>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="container" *ngIf="Restaurants">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="card">
                            <img src="../../assets/restaurants/{{Restaurants.photograph}}" class="dim">
                            <div class="card-header" id="headingOne">
                                <h3>{{ Restaurants.name }}</h3>
                                <p>Cuisine Type: {{Restaurants.cuisine_type}}</p>
                                <p>Operating Hours</p>
                                <p>Monday: {{Restaurants.operating_hours.Monday}}</p>
                                <p>Tuesday: {{Restaurants.operating_hours.Tuesday}}</p>
                                <p>Wednesday: {{Restaurants.operating_hours.Wednesday}}</p>
                                <p>Thursday: {{Restaurants.operating_hours.Thursday}}</p>
                                <p>Friday: {{Restaurants.operating_hours.Friday}}</p>
                                <p>Saturday: {{Restaurants.operating_hours.Saturday}}</p>
                                <p>Sunday: {{Restaurants.operating_hours.Sunday}}</p>


                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample" *ngFor="let review of Restaurants.reviews">
                                <div class="card-body">
                                    {{review.comments}}
                                    <star-rating [value]="review.rating" [totalstars]=5 checkedcolor="red"
                                        uncheckedcolor="black" size="24px" [readonly]="true"></star-rating>
                                    <small>Review date :{{review.date}}</small>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Restaurant review site &copy; Rate the restaurant</p>

        </div>

    </footer>